body {
  padding: 1.6em 2em 4em;
  letter-spacing: -0.011em;
  font-size: 16px;
  color: #34495e;
  background: white;
}

#root,
.App {
  width: 100%;
}

h2 {
  font-weight: 600;
  margin: 0.4em 0 0.6em;
  display: block;
  margin-left: 50px;
  width: 800px;
}

h4 {
  font-weight: 400;
  margin: 0.4em 0 0.6em;
  display: block;
  margin-left: 50px;
  width: 800px;
}

.par-text {
  font-weight: 200;
}

#select-label {
  margin-left: 50px;
}

.ScatterPlot {
  height: 750px;
  width: 950px;
  margin-right: 2em;
  background: white;
  padding: 0.6em 1em;
  margin: 0.5em;
}